@import url('https://v1.fontapi.ir/css/Shabnam');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shabnam', sans-serif;
}



@layer components{
    .textField{
        @apply w-full h-[45px] px-1 rounded-xl shadow-sm transition-all duration-200 focus:border-indigo-400 outline-none border-2
    }
    .btnForm{
        @apply border w-full h-[45px] rounded-xl bg-green-500 text-white text-lg font-semibold transition-all duration-300 hover:bg-green-700
    }
}